:root {
  --background: #292051aa;
  --text: #c5b4e3;
  --green: #6bbe5a;
  --yellow: #ffd966;
  --hover: #292051;
  --background2: #1c1638;
}

* , *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--background2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

html {
  scroll-behavior: smooth-scroll;
}

body {
  background: url("images/bg/bg.jpg") #00000075 fixed;
  background-blend-mode: darken;
  color: var(--text);
  overflow-x: hidden;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 5px;
}

/* Navigation Styles */
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
  overflow: scroll;
  grid-column: 1;
}

#navbar .header-container {
  display: flex;  
}

#navbar header {
  padding: 10px 0 10px 5px;
  width: 150px;
  font-size: 2rem;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 10px;
  margin: auto;
}

#logo {
  width: 100%;
  height: auto;
}

#logo-link {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
  background-color: var(--background2);
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}

#logo-link:hover {
  background-color: var(--hover);
  box-shadow: 0 0 10px var(--yellow);
  transition: 0.3s ease-in-out;
}

.divider, .main-divider {
  width: 100%; 
  margin: 20px 0;
  text-align: center;
  font-size: 1.2em;
  border-top: 1px solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.main-divider {
  width: 95%;
}

.divider legend, .main-divider legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}

.divider legend {font-family: monospace;}
.main-divider legend {font-family: "Comic Neue", sans-serif;}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin: 2px 3px;
  background-color: var(--background2);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
}

#navbar ul li:hover {
  background-color: var(--hover);
  color: var(--yellow);
  text-shadow: 0 0 10px;
  transition: 0.3s ease-in-out;
}

/* Main Styles */
#main-doc {
  width: 100%;
  grid-column: 2;
  padding: 10px 15px 10px 25px;
  background-color: var(--background);
  font-family: "Comic Neue", sans-serif;
}

.main-section p {
  font-size: 1.2em;
  width: 95%;
  text-align: justify;
  margin: 3px 0 10px 0;
}

#Installation ol {
  counter-reset: item;
  margin-left: 1em;
  padding-left: 0;
  width: 95%;
}

#Installation li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
  font-size: 1.3em;
  font-weight: bold;
}

#Installation li::before {
  display: inline-block;
  content: "Step "counter(item)".";
  counter-increment: item;
  width: 3em;
  margin-left: -2em;
  color: var(--yellow);
  font-weight: bold;
  text-shadow: 0 0 10px;
} 

.installation-steps {
  margin-left: 3em;
}

.download-link {
  color: var(--green);
  transition: 0.3s ease-in-out;
}

.download-link:hover {
  color: var(--yellow);
  text-shadow: 0 0 10px;
  transition: 0.3s ease-in-out;
}

.module-header {
  font-size: 2em;
  text-shadow: 0 0 10px;
  color: var(--green);
  font-weight: bold;
}

.module-header::after {
  content: ".bas";
  color: var(--yellow);
}

.socials-container {
  width: 90%;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials-card, .socials-card:active {
  background-color: var(--background2);
  padding-top: 10px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials-card:hover {
  transform: translate(0, -10px);
  box-shadow: 0 10px var(--background2);
  background-color: var(--hover);
  transition: 0.3s ease-in-out;
}

.socials-tile {
  height: 100px;
  width: 30%;
}

.socials-tile p {
  text-align: center;
}

.socials-link-container {
  width: 100%;
  height: 50px;
  display: flex;
    justify-content: center;
}

.socials-link {
  text-decoration: none;
  height: 30px;
  font-size: 1.5em;
}

.socials-icon {
  display: inline;
  width: 30px;
  margin-right: 10px;
  float: left;
}

.socials-link {
  font-weight: bold;
  color: var(--text);
  transition: 0.3s ease-in-out;
}

.socials-link:hover {
  font-weight: bold;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 10px, 0 5px 0 var(--hover);
}

/* Footer Styles */
footer {
  margin-top: 10px;
  position: relative;
  padding-bottom: 20px;
}

footer p {
  margin: 0 auto;
  font-weight: normal;
  font-family: monospace;
  text-align: center;
}

main footer {
  width: 90%;
  padding: 0;
}

/* Text-specific Styles */
.yellow {
  color: var(--yellow);
}

.bold {
  text-shadow: 0 0 10px;
}
.green {
  color: var(--green);
}

.yellow, .green, .bold {
  font-weight: bold;
  text-shadow: 0 0 10px;
}

.header, .module-header {
  font-size: 2em;
  text-shadow: 0 0 10px;
  font-weight: bold;
}

.header {
  color: var(--yellow);
  margin: 15px 0 0;
}

.module-header {
  color: var(--green)
}

@media (max-width: 768px) {
  #navbar {
    width: 200px;
  }

  #logo-link {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

  #navbar header {
    font-size: 1.8em;
  }

  #main-doc {
    left: 210px;
  }

  #main-doc header {
    font-size: 1.8em;
  }
}