@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');

:root {
  --background: #292051aa;
  --text: #c5b4e3;
  --green: #6bbe5a;
  --yellow: #ffd966;
  --hover: #292051;
  --background2: #1c1638;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth-scroll;
}

body {
  background: url("images/bg/bg.jpg") #00000075 fixed;
  background-blend-mode: darken;
  color: var(--text);
  overflow-x: hidden;
}

/* Navigation Styles */
#navbar {
  position: fixed;
  width: 275px;
  height: 100vh;
  background-color: var(--background);
  border-radius: 25px;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
  overflow: scroll;
}

#navbar .header-container {
  display: flex;  
}

#navbar header {
  padding: 10px 0 10px 5px;
  width: 150px;
  font-size: 2rem;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 10px;
  margin: auto;
}

#logo {
  width: 100%;
  height: auto;
}

#logo-link {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
  background-color: var(--background2);
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}

#logo-link:hover {
  background-color: var(--hover);
  box-shadow: 0 0 10px var(--yellow);
  transition: 0.3s ease-in-out;
}

.divider, .main-divider {
  width: 90%; 
  margin: 20px 0 0;
  text-align: center;
  font-size: 1.2em;
  border-top: 1px solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.main-divider {
  width: 96%;
}

.divider legend, .main-divider legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  font-weight: normal;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin: 2px 3px;
  background-color: var(--background2);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
}

#navbar ul li:hover {
  background-color: var(--hover);
  color: var(--yellow);
  text-shadow: 0 0 10px;
  transition: 0.3s ease-in-out;
}

/* Main Styles */
#main-doc {
  position: absolute;
  left: 290px;
  max-width: 1110px;
  padding: 10px;
  padding-left: 25px;
  background-color: var(--background);
  border-radius: 25px;
  font-family: "Comic Neue", sans-serif;
}

.main-section header {
  font-size: 2em;
  text-shadow: 0 0 10px;
  color: var(--yellow);
  font-weight: bold;
}

.main-section p,
.main-section code,
.main-section li {
  font-size: 1.2em;
}

#Installation ol {
  counter-reset: item;
  margin-left: 1em;
  padding-left: 0;
}

#Installation li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}

#Installation li::before {
  display: inline-block;
  content: "Step "counter(item)".";
  counter-increment: item;
  width: 3em;
  margin-left: -2em;
  color: var(--yellow);
  font-weight: bold;
  text-shadow: 0 0 10px;
} 

.installation-steps {
  margin-left: 3em;
}

.download-link {
  color: var(--green);
  transition: 0.3s ease-in-out;
}

.download-link:hover {
  color: var(--yellow);
  text-shadow: 0 0 10px;
  transition: 0.3s ease-in-out;
}

.list-elements p {
  display: inline;
  font-size: 1em;
}

.list-elements p::before {
  content: " - ";
}

.ulist-elements p {
  margin: 0; ;
}

.code-container {
  font-family: monospace;
  background-color: var(--background2);
  width: 50%;
  padding: 15px;
  border-radius: 10px;
}

.code-container p {
  font-size: 1em;
}

.source-code {
  height: 500px;
  width: 90%;
  margin: 5px auto;
  background-color: var(--background2);
  color: var(--text);
  border: none;
  border-radius: 25px;
}
/* Footer Styles */

footer {
  margin: 0;
  position: relative;
  padding-bottom: 20px;
}

footer p {
  margin: 0 auto;
  font-weight: normal;
  font-family: monospace;
  text-align: center;
}

footer a {
  font-weight: bold;
  color: var(--text);
  transition: 0.3s ease-in-out;
}

footer a:hover {
  font-weight: bold;
  color: var(--yellow);
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 10px;
}
/* Text-specific Styles */
.yellow {
  color: var(--yellow);
}

.bold {
  text-shadow: 0 0 10px;
}
.green {
  color: var(--green);
}

.yellow, .green, .bold {
  font-weight: bold;
  text-shadow: 0 0 10px;
}

@media (max-width: 768px) {
  #navbar {
    width: 200px;
  }

  #logo-link {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

  #navbar header {
    font-size: 1.8em;
  }

  #main-doc {
    left: 210px;
  }

  #main-doc header {
    font-size: 1.8em;
  }
}